.about-container {
  background-color: rgb(6, 5, 4, 0.9);
  color: white;
  padding: 80px 20px;
  text-align: center;
  height: 500px;
}

.section-heading-about {
  color: #89795c;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: 70px;
  
}

.about-text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 1.8;
  max-width: 800px;
  margin: 0 auto 20px;
  margin-top: 30px;
}

@media (max-width: 768px) {
  .section-heading {
    font-size: 30px;
  }
  .about-text {
    font-size: 16px;
    padding: 0 10px;
  }
}